<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseFactoryConfiguration" type="SchoolManagementDB.DataAccessLayer.DatabaseFactorySectionHandler, SchoolManagementDB" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<clear/>
		<add name="sqlConnectionString" providerName="System.Data.SqlClient" connectionString="add your own with Initial Catalog=SchoolManagement" />
	</connectionStrings>
	<DatabaseFactoryConfiguration Name="SchoolManagementDB.DataAccessLayer.SqlDatabase" ConnectionStringName="sqlConnectionString" />
</configuration>
